{{!-- idea is to loop over all seeded films with information --}}
<div>
    {{#each film as |film| }}
    <div>
        <img src="" alt="">{{film.img}}
        <h3>
            <a href="{{film.id}}">{{film.name}}</a>
        </h3>
        <div>
            <ol>
                <li>{{film.rating}}</li>
                <li>{{film.time}}</li>
                <li>{{film.genre}}</li>
            </ol>
        </div>
        <div>
            <p>{{film.info}}</p>
        </div>
    </div>
    {{/each}}
</div>
